.Header {
  text-align: left;
  font-size: 30px;
  padding-left: 5;
  padding-right: 5; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  border-style: solid;
}

.table, th, td, tr, tbody {
  width: 100%;
  border: 1px solid black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
